name: CodeGuardian scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  scan:
    name: Run CodeGuardian
    runs-on: ubuntu-latest
    strategy:
     matrix:
      node-version: [20, 22, 24, 25] 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run CodeGuardian scanner (CI mode)
        run: npx codeguardian --ci
